    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <style>
            * {
                margin: 0px;
                padding: 0px;
                background-color: aliceblue;
            }
            .main {
                display: flex;
                width: 100vw;
                height: 100vh;
            }
            .uploadContainer {
                width: 60vw;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .listingContainer {
                margin: 20px;
                width: 40vw;
                background-color: lightblue !important; 
            }
            .availableItem {
                margin: 20px;
                padding: 20px;
            }
            .listing {
                position: relative;
                overflow: hidden;
                overflow-y: auto;
                height: 97%;
            }
            form {
                background-color: rgb(234, 232, 232);
                margin: 20px;
                padding: 40px;
                border: 1px solid aliceblue;
                border-radius: 10px;
            }
            .custom-file-input::-webkit-file-upload-button {
                visibility: hidden;
            }
            .custom-file-input::before {
                content: 'Upload App Bundle';
                display: inline-block;
                background: linear-gradient(top, #f9f9f9, #e3e3e3);
                border: 1px solid #999;
                border-radius: 3px;
                padding: 5px 8px;
                outline: none;
                white-space: nowrap;
                -webkit-user-select: none;
                cursor: pointer;
                text-shadow: 1px 1px #fff;
                font-weight: 700;
                font-size: 32pt;
            }
            .custom-file-input:hover::before {
                border-color: black;
            }
            .custom-file-input:active::before {
                background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
            }
        </style>
    </head>
    <body>   
        <div class="main">
            <div class="uploadContainer">
                <form action="/upload" method="post" enctype="multipart/form-data" id="submitForm">
                    <input type="file" name="uploadfile" id="bundleFile" style="display:none;"/>
                    <label for="bundleFile" class="custom-file-input"></label>
                </form>
            </div>
            <div class="listingContainer">
                <h1>{{listingName}}</h1>
                <div class="listing">
                    {{#each items}}
                    <div class="availableItem">
                        <a href="{{this.link}}"> {{this.name}} </a>
                        <p>{{this.date}}</p>
                    </div> 
                    {{/each}}
                </div>
            </div>
        </div>
        <script>
            document.getElementById("bundleFile").onchange = function() {
                document.getElementById("submitForm").submit();
            }
        </script>
    </body>
    </html>